.App-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: rgb(126, 53, 53);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: '10px';
}

div {
  transition: background-color 0.5s ease;
}
